@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  background-color: #fef9f8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img {
  width: 90%;
}

form {
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #efcacc;
  position: absolute;
  top: 10%;
  left: 30%;
  color: white;
  padding: 6%;
  border-radius: 15px;
}

input {
  width: 80%;
  background-color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #d6cae3;
  border-left: none;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 8px;
}

input::placeholder {
  font-size: 16px;
  color: #aaa;
  font-weight: normal;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

button {
  padding: 10px 30px;
  background-color: white;
  color: #efcacc;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  border: 3px solid #cac3e4;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  transform: scale(1.05);
  background-color: #efcacc;
}

#burger {
  position: absolute;
  top: 3%;
  left: 3%;
  color: #efcacc;
  font-size: 30px;
  cursor: pointer;
}

.na {
  z-index: 100;
}

@media (min-width: 280px) and (max-width: 1024px) {
  body {
    overflow: scroll;
  }

  form {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #efd1d8;
    position: absolute;
    top: 10%;
    left: 10%;
    color: #efcacc;
    padding: 6%;
    border-radius: 15px;
  }

  .na {
    font-size: 50%;
  }
}
